<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SampleSuite">

<groups>
	<define name="SmokeTest">
		
	</define>
	<run>
		<include name="featureone"></include>
	</run>
</groups>

  <test thread-count="5" name="SampleTest">
    <classes>
      <class name="groupscripts.SampleThree"/>
      <class name="groupscripts.SampleTwo"/>
      <class name="groupscripts.Sampleone"/>
      
    </classes>
  </test> <!-- SampleTest -->
</suite> <!-- SampleSuite -->
